html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #1f2937, #111827);
  display: flex;
  justify-content: center;
  align-items: center;
}